<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <input formControlName="email" name="email" type="email" class="form-control mb-3" placeholder="Email address" required>

    <input formControlName="password" name="password" type="password" class="form-control mb-3" placeholder="Password"
           required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

    <!-- <p>admin User Name: admin@gmail.com</p>
    <p>admin Password: Test@123</p> -->
    <!-- <a routerLink="/home" class="p-2 text-primary text-decoration-none">Home Test</a> -->
  </form>
  
  
</main>
